<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<!--/* Title of this template will be passed to the head fragment along with custom links and scripts */-->
<head >
    <title>Shop List</title>
</head>

<body>

    <div layout:fragment="content">
        <div id="shop-list">
            <table class="table table-bordered table-striped ">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>

                </tr>
                </thead>
                <tbody>
                <tr th:if="${shops.empty}">
                    <td colspan="2">No shops</td>
                </tr>
                <tr th:each="shop : ${shops}">
                    <td th:text="${shop.id}">1</td>
                    <td>
                        <a href="#" th:href="@{/admin/shops/{id}(id=${shop.id})}" th:text="${shop.name}">Name ...</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>